

.root{
	-fx-background-color:black;
}

.panel{
	-fx-border-color: black;
}

.deadpiece-window {
	-fx-background-image: url("/images/bars.jpg");
	-fx-border-style: solid;
	-fx-border-width: 4;
	-fx-border-color: black;

}

.window {
	
}

.chessboard {
	-fx-background-image: url("/images/wood-ipad-background.jpg");
	-fx-border-style: solid;
	-fx-border-width: 6;
	-fx-border-color: #654321;
}

.chessgrid {
	-fx-border-style: solid;
	-fx-border-width: 3;
}

.sidebar {
	/* will be used for the sidebar looks, mainly background color and border
	to be implemented at a later date*/
	-fx-background-image: url("/images/sidebar.png");
	-fx-background-position: bottom right;
	-fx-background-repeat: stretch;
	-fx-border-style: solid;
	-fx-border-width: 6 6 6 0;
	-fx-border-color: #654321;
}

.pane{
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-font-family: "Courier New", monospace;
	-fx-padding: 5;
	-fx-border-radius : 5;
  	-fx-background-radius: 5;
  	-fx-border-width: 0.0 4 0;
	
	
	-fx-border-insets: 3;
	-fx-border-width: 3;
	-fx-background-color: transparent;
	
}

.list {
	
	-fx-border-color: white;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-font-family: "Courier New", monospace;
	-fx-padding: 5;
	
	
	-fx-border-color: black;
	-fx-border-insets: -1;
	-fx-border-width: 4;
	-fx-border-style: solid;
	-fx-background-color: linear-gradient( grey, silver, grey);
	
	-fx-background-image: url("/images/bars.jpg");
}

.list-cell {
	-fx-background-color: transparent;
	-fx-border-width: 0 0 1 0;
	-fx-border-color: black;
	-fx-font-weight: bold;
	-fx-text-fill: white;
	-fx-font-family: "Courier New", monospace;
	
	
	-fx-border-color: black;
	-fx-border-width: 0 0 2 0;
	-fx-border-style: dotted;
	
}
.list .scroll-pane {
  -fx-background-color: transparent;
}

.list .scroll-bar .increment-button {
  visibility: hidden;
}

.list .scroll-bar .decrement-button {
  visibility: hidden;
}

.list .scroll-bar:vertical {
  -fx-background-color: transparent;
}

.list .scroll-bar:vertical .track-background {
  visibility: hidden;
}

.list .scroll-bar:vertical .track {
  visibility: hidden;
}

.list .hide-thumb .scroll-bar:vertical .thumb {
  -fx-background-color: transparent;
}

.list .scroll-bar:vertical .thumb {
  -fx-background-color:derive(white,90%);
  -fx-background-insets: 2, 0, 0;
  -fx-background-radius: 2;
}

.list .scroll-bar .increment-arrow,
.list .scroll-bar .decrement-arrow {
	-fx-shape: " ";
	-fx-padding:0;
}